/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-color:#3C5070;
}

.button {
	-fx-graphic: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwQQfypjqBrhQ0Fwt4DHi8i33bfJvVgBeqY0i3D153Gmmo6D_E');
}

.label {
	-fx-text-fill:BLACK;
}

.chart-pie-label {
	-fx-fill:BLACK;
}

.chart-pie-label-line {
	-fx-stroke:BLACK;
	-fx-fill:BLACK;
}